SalesInput/SalesInput/SalesInput/Connected Services/HCTWebService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TransData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransData_Json">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransData_JsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransData_JsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransData_Xml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransData_XmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransData_XmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryEDELNO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryEDELNOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryEDELNOResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryEDELNO_Json">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryEDELNO_JsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryEDELNO_JsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryEDELNO_Xml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryEDELNO_XmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryEDELNO_XmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdData_Json">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdData_JsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdData_JsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdData_Xml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdData_XmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdData_XmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FamiQueryData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsCusXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FamiQueryDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FamiQueryDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransPINCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="edelno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPINCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransPINCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransPINCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniSelect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UniSelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UniSelectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Edelno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Edelno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EdelnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EdelnoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TxtData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TxtDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TxtDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsCus">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransReportResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransReport_Json">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsCusJson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransReport_JsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransReport_JsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransReport_XML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCompany" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dsCusXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransReport_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TransReport_XMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="outputTXT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sDateyyyyMMdd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sESCSNO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sType1or7" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="outputTXTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="outputTXTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TransDataSoapIn">
    <wsdl:part name="parameters" element="tns:TransData" />
  </wsdl:message>
  <wsdl:message name="TransDataSoapOut">
    <wsdl:part name="parameters" element="tns:TransDataResponse" />
  </wsdl:message>
  <wsdl:message name="TransData_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:TransData_Json" />
  </wsdl:message>
  <wsdl:message name="TransData_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:TransData_JsonResponse" />
  </wsdl:message>
  <wsdl:message name="TransData_XmlSoapIn">
    <wsdl:part name="parameters" element="tns:TransData_Xml" />
  </wsdl:message>
  <wsdl:message name="TransData_XmlSoapOut">
    <wsdl:part name="parameters" element="tns:TransData_XmlResponse" />
  </wsdl:message>
  <wsdl:message name="QueryEDELNOSoapIn">
    <wsdl:part name="parameters" element="tns:QueryEDELNO" />
  </wsdl:message>
  <wsdl:message name="QueryEDELNOSoapOut">
    <wsdl:part name="parameters" element="tns:QueryEDELNOResponse" />
  </wsdl:message>
  <wsdl:message name="QueryEDELNO_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:QueryEDELNO_Json" />
  </wsdl:message>
  <wsdl:message name="QueryEDELNO_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:QueryEDELNO_JsonResponse" />
  </wsdl:message>
  <wsdl:message name="QueryEDELNO_XmlSoapIn">
    <wsdl:part name="parameters" element="tns:QueryEDELNO_Xml" />
  </wsdl:message>
  <wsdl:message name="QueryEDELNO_XmlSoapOut">
    <wsdl:part name="parameters" element="tns:QueryEDELNO_XmlResponse" />
  </wsdl:message>
  <wsdl:message name="UpdDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdData" />
  </wsdl:message>
  <wsdl:message name="UpdDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdData_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:UpdData_Json" />
  </wsdl:message>
  <wsdl:message name="UpdData_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:UpdData_JsonResponse" />
  </wsdl:message>
  <wsdl:message name="UpdData_XmlSoapIn">
    <wsdl:part name="parameters" element="tns:UpdData_Xml" />
  </wsdl:message>
  <wsdl:message name="UpdData_XmlSoapOut">
    <wsdl:part name="parameters" element="tns:UpdData_XmlResponse" />
  </wsdl:message>
  <wsdl:message name="FamiQueryDataSoapIn">
    <wsdl:part name="parameters" element="tns:FamiQueryData" />
  </wsdl:message>
  <wsdl:message name="FamiQueryDataSoapOut">
    <wsdl:part name="parameters" element="tns:FamiQueryDataResponse" />
  </wsdl:message>
  <wsdl:message name="TransPINCodeSoapIn">
    <wsdl:part name="parameters" element="tns:TransPINCode" />
  </wsdl:message>
  <wsdl:message name="TransPINCodeSoapOut">
    <wsdl:part name="parameters" element="tns:TransPINCodeResponse" />
  </wsdl:message>
  <wsdl:message name="UniSelectSoapIn">
    <wsdl:part name="parameters" element="tns:UniSelect" />
  </wsdl:message>
  <wsdl:message name="UniSelectSoapOut">
    <wsdl:part name="parameters" element="tns:UniSelectResponse" />
  </wsdl:message>
  <wsdl:message name="EdelnoSoapIn">
    <wsdl:part name="parameters" element="tns:Edelno" />
  </wsdl:message>
  <wsdl:message name="EdelnoSoapOut">
    <wsdl:part name="parameters" element="tns:EdelnoResponse" />
  </wsdl:message>
  <wsdl:message name="TxtDataSoapIn">
    <wsdl:part name="parameters" element="tns:TxtData" />
  </wsdl:message>
  <wsdl:message name="TxtDataSoapOut">
    <wsdl:part name="parameters" element="tns:TxtDataResponse" />
  </wsdl:message>
  <wsdl:message name="TransReportSoapIn">
    <wsdl:part name="parameters" element="tns:TransReport" />
  </wsdl:message>
  <wsdl:message name="TransReportSoapOut">
    <wsdl:part name="parameters" element="tns:TransReportResponse" />
  </wsdl:message>
  <wsdl:message name="TransReport_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:TransReport_Json" />
  </wsdl:message>
  <wsdl:message name="TransReport_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:TransReport_JsonResponse" />
  </wsdl:message>
  <wsdl:message name="TransReport_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:TransReport_XML" />
  </wsdl:message>
  <wsdl:message name="TransReport_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:TransReport_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="outputTXTSoapIn">
    <wsdl:part name="parameters" element="tns:outputTXT" />
  </wsdl:message>
  <wsdl:message name="outputTXTSoapOut">
    <wsdl:part name="parameters" element="tns:outputTXTResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="TransData">
      <wsdl:input message="tns:TransDataSoapIn" />
      <wsdl:output message="tns:TransDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransData_Json">
      <wsdl:input message="tns:TransData_JsonSoapIn" />
      <wsdl:output message="tns:TransData_JsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransData_Xml">
      <wsdl:input message="tns:TransData_XmlSoapIn" />
      <wsdl:output message="tns:TransData_XmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryEDELNO">
      <wsdl:input message="tns:QueryEDELNOSoapIn" />
      <wsdl:output message="tns:QueryEDELNOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryEDELNO_Json">
      <wsdl:input message="tns:QueryEDELNO_JsonSoapIn" />
      <wsdl:output message="tns:QueryEDELNO_JsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryEDELNO_Xml">
      <wsdl:input message="tns:QueryEDELNO_XmlSoapIn" />
      <wsdl:output message="tns:QueryEDELNO_XmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdData">
      <wsdl:input message="tns:UpdDataSoapIn" />
      <wsdl:output message="tns:UpdDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdData_Json">
      <wsdl:input message="tns:UpdData_JsonSoapIn" />
      <wsdl:output message="tns:UpdData_JsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdData_Xml">
      <wsdl:input message="tns:UpdData_XmlSoapIn" />
      <wsdl:output message="tns:UpdData_XmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FamiQueryData">
      <wsdl:input message="tns:FamiQueryDataSoapIn" />
      <wsdl:output message="tns:FamiQueryDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransPINCode">
      <wsdl:input message="tns:TransPINCodeSoapIn" />
      <wsdl:output message="tns:TransPINCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UniSelect">
      <wsdl:input message="tns:UniSelectSoapIn" />
      <wsdl:output message="tns:UniSelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Edelno">
      <wsdl:input message="tns:EdelnoSoapIn" />
      <wsdl:output message="tns:EdelnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TxtData">
      <wsdl:input message="tns:TxtDataSoapIn" />
      <wsdl:output message="tns:TxtDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransReport">
      <wsdl:input message="tns:TransReportSoapIn" />
      <wsdl:output message="tns:TransReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransReport_Json">
      <wsdl:input message="tns:TransReport_JsonSoapIn" />
      <wsdl:output message="tns:TransReport_JsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TransReport_XML">
      <wsdl:input message="tns:TransReport_XMLSoapIn" />
      <wsdl:output message="tns:TransReport_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="outputTXT">
      <wsdl:input message="tns:outputTXTSoapIn" />
      <wsdl:output message="tns:outputTXTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransData">
      <soap:operation soapAction="http://tempuri.org/TransData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransData_Json">
      <soap:operation soapAction="http://tempuri.org/TransData_Json" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransData_Xml">
      <soap:operation soapAction="http://tempuri.org/TransData_Xml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryEDELNO">
      <soap:operation soapAction="http://tempuri.org/QueryEDELNO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryEDELNO_Json">
      <soap:operation soapAction="http://tempuri.org/QueryEDELNO_Json" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryEDELNO_Xml">
      <soap:operation soapAction="http://tempuri.org/QueryEDELNO_Xml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdData">
      <soap:operation soapAction="http://tempuri.org/UpdData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdData_Json">
      <soap:operation soapAction="http://tempuri.org/UpdData_Json" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdData_Xml">
      <soap:operation soapAction="http://tempuri.org/UpdData_Xml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamiQueryData">
      <soap:operation soapAction="http://tempuri.org/FamiQueryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransPINCode">
      <soap:operation soapAction="http://tempuri.org/TransPINCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniSelect">
      <soap:operation soapAction="http://tempuri.org/UniSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edelno">
      <soap:operation soapAction="http://tempuri.org/Edelno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TxtData">
      <soap:operation soapAction="http://tempuri.org/TxtData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransReport">
      <soap:operation soapAction="http://tempuri.org/TransReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransReport_Json">
      <soap:operation soapAction="http://tempuri.org/TransReport_Json" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransReport_XML">
      <soap:operation soapAction="http://tempuri.org/TransReport_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="outputTXT">
      <soap:operation soapAction="http://tempuri.org/outputTXT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransData">
      <soap12:operation soapAction="http://tempuri.org/TransData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransData_Json">
      <soap12:operation soapAction="http://tempuri.org/TransData_Json" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransData_Xml">
      <soap12:operation soapAction="http://tempuri.org/TransData_Xml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryEDELNO">
      <soap12:operation soapAction="http://tempuri.org/QueryEDELNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryEDELNO_Json">
      <soap12:operation soapAction="http://tempuri.org/QueryEDELNO_Json" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryEDELNO_Xml">
      <soap12:operation soapAction="http://tempuri.org/QueryEDELNO_Xml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdData">
      <soap12:operation soapAction="http://tempuri.org/UpdData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdData_Json">
      <soap12:operation soapAction="http://tempuri.org/UpdData_Json" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdData_Xml">
      <soap12:operation soapAction="http://tempuri.org/UpdData_Xml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FamiQueryData">
      <soap12:operation soapAction="http://tempuri.org/FamiQueryData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransPINCode">
      <soap12:operation soapAction="http://tempuri.org/TransPINCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UniSelect">
      <soap12:operation soapAction="http://tempuri.org/UniSelect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edelno">
      <soap12:operation soapAction="http://tempuri.org/Edelno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TxtData">
      <soap12:operation soapAction="http://tempuri.org/TxtData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransReport">
      <soap12:operation soapAction="http://tempuri.org/TransReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransReport_Json">
      <soap12:operation soapAction="http://tempuri.org/TransReport_Json" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransReport_XML">
      <soap12:operation soapAction="http://tempuri.org/TransReport_XML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="outputTXT">
      <soap12:operation soapAction="http://tempuri.org/outputTXT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://hctrt.hct.com.tw/EDI_WebService2/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://hctrt.hct.com.tw/EDI_WebService2/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>